h1,
h2,
h3 {
    color: #343a40;
}

.test {
    font-weight: bold;
    color: red;
}

/* Trang Post */

.post-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 36px;
    color: #2c3e50;
    margin-bottom: 10px;
}

.post-meta {
    font-size: 14px;
    color: #7f8c8d;
}

.post-body {
    font-size: 18px;
    line-height: 1.8;
    color: #34495e;
    margin-bottom: 30px;
}

.post-body p {
    margin-bottom: 20px;
}

.post-footer {
    text-align: right;
}

.back-to-blog {
    font-weight: bold;
    font-size: 16px;
    color: #3498db;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.back-to-blog:hover {
    border-bottom: 1px solid #3498db;
}


.nhat {
    color: rgb(0, 0, 0);
}

/* Tổng quát */
body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1,
h2,
h4 {
    color: #333;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: #3498db;
}

a:hover {
    color: #2c3e50;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.blog-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.posts-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    transition: all 0.3s ease-in-out;
}

.post-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.post-title {
    margin: 0 0 10px 0;
    font-size: 24px;
    color: #2c3e50;
}

.post-meta {
    font-size: 14px;
    color: #7f8c8d;
    margin-bottom: 15px;
}

.post-excerpt {
    font-size: 16px;
    color: #34495e;
}

.read-more {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    color: #3498db;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.3s;
}

.read-more:hover {
    border-bottom: 1px solid #3498db;
}

p {
    line-height: 1.6;
}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    margin-bottom: 50px;
}

header .row {
    position: relative;
}

.logo {
    position: absolute;
    z-index: 10;
}

.nav-bar-icon {
    display: none;
    border: 2px solid #898F4B;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.close-btn {
    display: none;
    padding: 5px 11px;
    border-radius: 50%;
}

.main-menu {
    position: relative;
    margin-bottom: 0;
    padding: 25px 0;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
    border: 5px solid #fff;
    box-sizing: border-box;
    padding: 10px;
}

.main-menu li a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.main-menu li:hover {
    background-color: #ccc;
}

.search-icon {
    background-color: #fff;
    border: none;
}

.search-mobile {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(250, 250, 250, 0.7);
}

.search-overlay {
    width: 600px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    background-image: url(images/search-icon.png);
    background-position: 9px 10px;
    background-repeat: no-repeat;
}

.search-btn {
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 3px;
    background-color: #898F4B;
    color: #fff;
}

.search-btn:hover {
    background-color: #fff;
    color: #898F4B;
}

.close-search-btn {
    position: absolute;
    top: 150px;
    right: 100px;
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #898F4B;
    color: #fff;
}

.close-search-btn:hover {
    background-color: #fff;
    color: #898F4B;
}

.hotline {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
}

.hotline p {
    padding-left: 10px;
    margin-bottom: 0;
    font-size: smaller;
}

.tel {
    color: #898F4B;
    font-weight: bold;
    font-size: medium;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 50px 0 50px;
    position: relative;
}

h1>hr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    padding-top: 20px;
    border-bottom: 3px solid #898F4B;
}

h4 {
    font-weight: bold;
    padding: 15px 0;
    font-size: large;
}

.introduction p {
    text-align: justify;
}

.more-btn {
    margin: auto;
    border: 1px solid #ccc;
}

.more-btn a {
    text-decoration: none;
}

.more-btn a :hover {
    background-color: #898F4B;
    color: #fff;
}

.more-btn h5 {
    padding: 10px 40px;
    margin: 0;
    color: #898F4B;
    font-size: medium;
}

.products {
    background-image: url(images/product-bg.png);
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 40px 0;
    margin-bottom: 40px;
}

.highlight {
    font-family: 'Dancing Script', cursive;
    color: #898F4B;
    font-size: 60px;
    font-weight: lighter;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.product-details h3 {
    font-size: 30px;
    font-weight: bold;
}

.product-details .product-type {
    font-weight: bold;
    color: #898F4B;
    padding-bottom: 10px;
}

.location-img {
    padding-right: 0;
}

.location {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #898F4B;
    background-clip: content-box;
    color: #fff;
}

.location-infor {
    padding: 20px;
}

.location-infor a {
    color: #fff;
}

.location-infor i {
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px 8px;
}

.location-infor i:hover {
    background-color: #fff;
    color: #898F4B;
}

.news-infor {
    margin-bottom: 25px;
    padding: 0 15px;
}

.news-infor h6 {
    padding: 15px 0;
    font-size: medium;
    font-weight: bold;
    color: #898F4B;
}

.news-infor h5 {
    font-weight: bold;
    font-size: large;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}

.partner-logo>.col-md-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    margin: 40px 0;
}

.contact-left {
    background-image: url(images/contact-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.contact-left img,
.contact-right img {
    display: none;
}

.contact-right {
    background-image: url(images/contact-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.form {
    background: #898F4B;
    color: #fff;
}

legend h2 {
    font-weight: light;
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
}

input {
    width: 100%;
    padding: 10px 40px;
    margin: 10px 0;
    background-color: #E6E6E6;
    border: none;
    border-radius: 3px;
    outline: none;
}

#name {
    background-image: url(images/user-icon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(images/email-icon.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
}

#phone {
    background-image: url(images/phone-contact.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: black;
    outline: none;
}

.contact-btn p {
    padding: 10px 40px;
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.hotline-form {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
}

.hotline-form p {
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 15px !important;
}

.media a {
    color: grey;
    padding: 10px;
}

.media a:hover {
    font-size: 25px;
    color: black;
}

#go-top-btn {
    display: none;
    position: fixed;
    bottom: 7%;
    right: 3%;
    border: none;
    border-radius: 50%;
    background-color: #898F4B;
    color: #fff;
}

#go-top-btn i {
    padding: 15px 17px;
}

#go-top-btn:hover {
    background-color: #ccc;
    color: #898F4B;
}

@media (max-width: 768px) {
    header .row {
        flex-direction: column-reverse;
    }

    .search-mobile {
        display: none;
        position: relative;
    }

    .search-mobile i {
        position: absolute;
        top: 23px;
        right: 15px;
    }

    .main-menu {
        width: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background-color: #fff;
    }

    .main-menu li {
        display: block;
        border-bottom: 1px dashed #ccc;
    }

    .close-btn {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        outline: none;
        border: 2px solid #ccc;
    }

    .nav-bar-icon,
    .search-icon {
        display: inline-block;
        margin: 10px 20px;
    }

    .logo {
        display: block;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }

    .hotline {
        display: none;
    }

    .intro-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .products h1>span,
    .submit,
    .contact-left img,
    .contact-right img {
        display: block;
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .partner-logo>.col-md-3 {
        width: 50%;
        padding: 0 20px;
    }

    .location-img {
        padding-right: 15px;
    }

    .location {
        padding-left: 15px;
    }

    .contact-form {
        margin: 0 10px;
    }

    .hotline-form {
        padding: 20px 0;
        margin: 0;
        float: left;
    }

    .contact-btn {
        width: 100%;
    }

    .contact-left,
    .contact-right {
        padding: 0;
    }



}

.error {
    color: red;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

html {
    margin-bottom: 50px;
}

header .row {
    position: relative;
}

.logo {
    position: absolute;
    z-index: 10;
}

.nav-bar-icon {
    display: none;
    border: 2px solid #898F4B;
    align-items: center;
    justify-content: center;
    padding: 5px 10px;
}

.close-btn {
    display: none;
    padding: 5px 11px;
    border-radius: 50%;
}

.main-menu {
    position: relative;
    margin-bottom: 0;
    padding: 25px 0;
}

.main-menu li {
    list-style-type: none;
    display: inline-block;
    border: 5px solid #fff;
    box-sizing: border-box;
    padding: 10px;
}

.main-menu li a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.main-menu li:hover {
    background-color: #ccc;
}

.search-icon {
    background-color: #fff;
    border: none;
}

.search-mobile {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-color: rgba(250, 250, 250, 0.7);
}

.search-overlay {
    width: 600px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#search {
    background-image: url(images/search-icon.png);
    background-position: 9px 10px;
    background-repeat: no-repeat;
}

.search-btn {
    padding: 10px 20px;
    margin-left: 15px;
    border: none;
    border-radius: 3px;
    background-color: #898F4B;
    color: #fff;
}

.search-btn:hover {
    background-color: #fff;
    color: #898F4B;
}

.close-search-btn {
    position: absolute;
    top: 150px;
    right: 100px;
    padding: 9px 15px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background-color: #898F4B;
    color: #fff;
}

.close-search-btn:hover {
    background-color: #fff;
    color: #898F4B;
}

.hotline {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
}

.hotline p {
    padding-left: 10px;
    margin-bottom: 0;
    font-size: smaller;
}

.tel {
    color: #898F4B;
    font-weight: bold;
    font-size: medium;
}

h1 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 50px 0 50px;
    position: relative;
}

h1>hr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3rem;
    padding-top: 20px;
    border-bottom: 3px solid #898F4B;
}

h4 {
    font-weight: bold;
    padding: 15px 0;
    font-size: large;
}

.introduction p {
    text-align: justify;
}

.more-btn {
    margin: auto;
    border: 1px solid #ccc;
}

.more-btn a {
    text-decoration: none;
}

.more-btn a :hover {
    background-color: #898F4B;
    color: #fff;
}

.more-btn h5 {
    padding: 10px 40px;
    margin: 0;
    color: #898F4B;
    font-size: medium;
}

.products {
    background-image: url(images/product-bg.png);
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position-y: bottom;
    padding: 40px 0;
    margin-bottom: 40px;
}

.highlight {
    font-family: 'Dancing Script', cursive;
    color: #898F4B;
    font-size: 60px;
    font-weight: lighter;
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 10px;
}

.product-details h3 {
    font-size: 30px;
    font-weight: bold;
}

.product-details .product-type {
    font-weight: bold;
    color: #898F4B;
    padding-bottom: 10px;
}

.location-img {
    padding-right: 0;
}

.location {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #898F4B;
    background-clip: content-box;
    color: #fff;
}

.location-infor {
    padding: 20px;
}

.location-infor a {
    color: #fff;
}

.location-infor i {
    border: 1px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    padding: 5px 8px;
}

.location-infor i:hover {
    background-color: #fff;
    color: #898F4B;
}

.news-infor {
    margin-bottom: 25px;
    padding: 0 15px;
}

.news-infor h6 {
    padding: 15px 0;
    font-size: medium;
    font-weight: bold;
    color: #898F4B;
}

.news-infor h5 {
    font-weight: bold;
    font-size: large;
    padding: 15px 0;
    border-bottom: 1px dashed #ccc;
}

.partner-logo>.col-md-3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0;
    margin: 40px 0;
}

.contact-left {
    background-image: url(images/contact-left.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.contact-left img,
.contact-right img {
    display: none;
}

.contact-right {
    background-image: url(images/contact-right.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
}

.form {
    background: #898F4B;
    color: #fff;
}

legend h2 {
    font-weight: light;
    font-size: 35px;
    text-align: center;
    padding: 20px 0;
}

input {
    width: 100%;
    padding: 10px 40px;
    margin: 10px 0;
    background-color: #E6E6E6;
    border: none;
    border-radius: 3px;
    outline: none;
}

#name {
    background-image: url(images/user-icon.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(images/email-icon.png);
    background-position: 10px 13px;
    background-repeat: no-repeat;
}

#phone {
    background-image: url(images/phone-contact.png);
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

.submit {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    margin-bottom: 30px;
}

.contact-btn {
    background-color: black;
    outline: none;
}

.contact-btn p {
    padding: 10px 40px;
    margin: 0;
    font-weight: bold;
    color: #fff;
}

.hotline-form {
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: space-around;
}

.hotline-form p {
    margin: 0;
    padding-left: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 15px !important;
}

.media a {
    color: grey;
    padding: 10px;
}

.media a:hover {
    font-size: 25px;
    color: black;
}

#go-top-btn {
    display: none;
    position: fixed;
    bottom: 7%;
    right: 3%;
    border: none;
    border-radius: 50%;
    background-color: #898F4B;
    color: #fff;
}

#go-top-btn i {
    padding: 15px 17px;
}

#go-top-btn:hover {
    background-color: #ccc;
    color: #898F4B;
}

@media (max-width: 768px) {
    header .row {
        flex-direction: column-reverse;
    }

    .search-mobile {
        display: none;
        position: relative;
    }

    .search-mobile i {
        position: absolute;
        top: 23px;
        right: 15px;
    }

    .main-menu {
        width: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 10;
        background-color: #fff;
    }

    .main-menu li {
        display: block;
        border-bottom: 1px dashed #ccc;
    }

    .close-btn {
        display: block;
        margin-left: auto;
        margin-right: 20px;
        outline: none;
        border: 2px solid #ccc;
    }

    .nav-bar-icon,
    .search-icon {
        display: inline-block;
        margin: 10px 20px;
    }

    .logo {
        display: block;
        position: relative;
        margin: auto;
        margin-bottom: 20px;
    }

    .hotline {
        display: none;
    }

    .intro-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .products h1>span,
    .submit,
    .contact-left img,
    .contact-right img {
        display: block;
    }

    .product {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .partner-logo>.col-md-3 {
        width: 50%;
        padding: 0 20px;
    }

    .location-img {
        padding-right: 15px;
    }

    .location {
        padding-left: 15px;
    }

    .contact-form {
        margin: 0 10px;
    }

    .hotline-form {
        padding: 20px 0;
        margin: 0;
        float: left;
    }

    .contact-btn {
        width: 100%;
    }

    .contact-left,
    .contact-right {
        padding: 0;
    }



}

.error {
    color: red;
}