{% extends 'pages/base.html' %}

{% block title %}Blog{% endblock %}

{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}
<div class="blog-container">
    <div class="posts-list">
        {% for post in Posts %}
        <div class="post-item">
            <h2 class="post-title nhat">
                <a class="nhat" href="/blog/{{post.id}}">{{ post.title }} </a>
            </h2>
            <p class="post-meta">
                Posted on {{ post.date | date:"d-m-Y" }}
            </p>
            <div class="post-excerpt">
                {{ post.content|truncatewords:30 }} 
                <a href="/blog/{{post.id}}" class="read-more">Read more</a>
            </div>
        </div>
        {% empty %}
        <p>No blog posts available yet.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
